# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/angular-OAuthPaymentGateway/dist
/frontend/angular-OAuthPaymentGateway/tmp
/frontend/angular-OAuthPaymentGateway/out-tsc
# Only exists if Bazel was run
/frontend/angular-OAuthPaymentGateway/bazel-out

# dependencies
/frontend/angular-OAuthPaymentGateway/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/frontend/angular-OAuthPaymentGateway/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/frontend/angular-OAuthPaymentGateway/.sass-cache
/frontend/angular-OAuthPaymentGateway/connect.lock
/frontend/angular-OAuthPaymentGateway/coverage
/frontend/angular-OAuthPaymentGateway/libpeerconnection.log
/frontend/angular-OAuthPaymentGateway/npm-debug.log
/frontend/angular-OAuthPaymentGateway/yarn-error.log
/frontend/angular-OAuthPaymentGateway/testem.log
/frontend/angular-OAuthPaymentGateway/typings

# System Files
.DS_Store
Thumbs.db
/frontend/angular-OAuthPaymentGateway/node_modules
